<!-- Modal -->
<div id="notapafParent">
  <form name="notapafForm" novalidate>
    <div class="modal fade" id="formUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ajouter une Notapaf</h4>
          </div>
          <div class="modal-body">
            <fieldset class="form-group"
                      ng-class="{ 'has-error' : notapafForm.name.$invalid && !notapafForm.name.$pristine }">
              <label for="name">Nom</label>
              <input id="name" name="name" type="text" class="form-control" ng-model="notapaf.name" placeholder="nom"
                     ng-required="true">
              <p ng-show="notapafForm.name.$invalid && !notapafForm.name.$pristine " class="help-block">Nom
                obligatoire</p>
            </fieldset>
            <fieldset class="form-group"
                      ng-class="{ 'has-error' : notapafForm.url.$invalid && !notapafForm.url.$pristine }">
              <label for="url">Url</label>
              <input id="url" name="url" type="url" class="form-control" ng-model="notapaf.url" placeholder="url"
                     ng-required="true">
              <p ng-show="notapafForm.url.$invalid && !notapafForm.url.$pristine " class="help-block">url obligatoire /
                format incorrect.</p>
            </fieldset>
            <fieldset class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" ng-model="notapaf.description" name="description" id="description"
                        cols="30" rows="10" placeholder="Ajouter un commentaire..."></textarea>
            </fieldset>
            <fieldset class="form-group"
                      ng-class="{ 'has-error' : notapafForm.longitude.$invalid && !notapafForm.longitude.$pristine }">
              <label for="longitude">Longitude</label>
              <input type="number" class="form-control" ng-model="notapaf.position.longitude" name="longitude"
                     id="longitude" placeholder="Longitude" ng-required="true">
              <p ng-show="notapafForm.longitude.$invalid && !notapafForm.longitude.$pristine " class="help-block">
                Longitude obligatoire / format incorrect.</p>
            </fieldset>
            <fieldset class="form-group"
                      ng-class="{ 'has-error' : notapafForm.latitude.$invalid && !notapafForm.latitude.$pristine }">
              <label for="latitude">Latitude</label>
              <input type="number" class="form-control" ng-model="notapaf.position.latitude" name="latitude"
                     id="latitude" placeholder="Latitude" ng-required="true">
              <p ng-show="notapafForm.latitude.$invalid && !notapafForm.latitude.$pristine " class="help-block">Latitude
                obligatoire / format incorrect.</p>
            </fieldset>
            <label>Mots-clés</label>
            <tags-input ng-model="notapaf.keywords" ng-required="true">
            </tags-input>
          </div>
          <div class="modal-footer">
            <div type="button" class="btn btn-default" data-dismiss="modal">Annuler</div>
          <button type="submit" class="btn btn-primary" ng-disabled="notapafForm.$invalid" ng-click="main.save()">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

<div class="col-xs-6">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formUrl">
    Ajouter une url
  </button>
  <br/><br/>
  <!--<label class="label label-info">Search</label>-->
  <input type="text" ng-model="search.keywords" class="form-control"><br/>
  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>URL</th>
    </tr>
    </thead>
    <tr ng-repeat="data in main.service.data | filter:search" ng-click='main.go(data.name)'>
      <td>{{data.name}}</td>
      <td>{{data.url}}</td>
    </tr>
  </table>

</div>
