<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#formUrl">
  Ajouter une url
</button>

<!-- Modal -->
<div class="modal fade" id="formUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une Notapaf</h4>
      </div>
      <div class="modal-body">
        <fieldset class="form-group">
          <label for="name">Nom</label>
          <input id="name" type="text" class="form-control" ng-model="form.nom" placeholder="nom">
        </fieldset>
        <fieldset class="form-group">
          <label for="url">Url</label>
          <input id="url" type="text" class="form-control" ng-model="form.url" placeholder="url">
        </fieldset>
        <fieldset class="form-group">
          <label for="comment">Description</label>
          <textarea class="form-control" ng-model="form.comment" name="comment" id="comment" cols="30" rows="10" placeholder="Ajouter un commentaire..."></textarea>
        </fieldset>
        <tags-input ng-model="tags">
        </tags-input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" ng-click="main.save()">Ajouter</button>
      </div>
    </div>
  </div>
<div class="col-xs-6" ng-init="datas =[{nom:'url1', description:'blabla', keyword:'toto'},
{nom:'url2', description:'blabla', keyword:'tata'},
{nom:'url3', description:'blabla', keyword:'titi'}]">

  <button type="button" class="btn btn-success" ng-click="mainCtrl.getdataurl()">New url</button>

  <br/><br/>
  <!--<label class="label label-info">Search</label>-->
  <input type="text" ng-model="keyword" class="form-control"><br/>

  <p ng-repeat="data in datas | filter:keyword">{{data.nom}}</p>







</div>
