<div class="col-xs-6" ng-init="datas =[{nom:'url1', description:'blabla', keyword:'toto'},
{nom:'url2', description:'blabla', keyword:'tata'},
{nom:'url3', description:'blabla', keyword:'titi'}]">

  <button type="button" class="btn btn-success" ng-click="mainCtrl.getdataurl()">New url</button>

  <br/><br/>
  <!--<label class="label label-info">Search</label>-->
  <input type="text" ng-model="keyword" class="form-control"><br/>

  <p ng-repeat="data in datas | filter:keyword">{{data.nom}}</p>







</div>
